/*@import "_variables";

@import "general";

@import "grid";
@include grid();
@import "forms";
@import "triangle";

@import "menu";
@import "top-bar";

@import "article";
@import "content";*/

/* ---------- Overall Specifications ---------- */
/*font family*/
* {
font-family: 'Lato Light', Helvetica, Arial, sans-serif;
color:#454545;
font-size:16px;
text-decoration:none;
text-align:center;
font-style:normal;
font-weight:300;
line-height:125%;
margin:0;
padding:0;
outline:0;
border: 0;
background: none;
border:none;
}
body {
background: url('../images/bg.jpg') repeat top left;
z-index: -100;
min-height: 100%;
}


.main {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* Twitter footer*/
#tw{
  position: fixed;
  bottom: 12px;
  left: 50%;
  margin-left: -36px;
  a {
    img{
    height: 72px;
    width: 72px;
    background: url('../images/twitter72x72.png') no-repeat center center;
    transition:all 1.5s;
    -moz-transition:all 1.5s; /* Firefox 4 */
    -webkit-transition:all 1.5s; /* Safari and Chrome */
    -o-transition:all 1.5s; /* Opera */
    transition-timing-function: linear;    
    &:hover {
        background: url('../images/twitter72x72active.png') no-repeat center center;
      }
    }
  }
}
