<div class="container">
  <div class="blog">
    <ul>
      <% @list.reverse.each do |post| %>
        <li>
          <div class="title">
            <a href="/blog/show/<%= post.id %>">
              <%= post.title %>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <a href="/blog/1">
  Home</a>
</div>