<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Thomas Stephan</title>
</head>
<body>
  <div class="main">
    <div class="welcome">
      <div class="main-stream">hello</div>
      <div class="below-msg">
        <p>how are you?</p>
      </div>
    </div>
    <div class="main-stream">@thomasstephn</div>
      <div class="above-msg">
        <p>that's here</p>
      </div>
    </div>
    <div class="main-stream">.com</div>
      <div class="below-msg">
        <p>what to put here</p>
      </div>
    </div>
  </div>
</body>
</html>
