<div class="main">
  <div class="welcome">
    <div class="main-stream">hello</div>
    <div class="below-msg">
      <p>how are you?</p>
    </div>
    <div class="main-stream">@thomasstephn</div>
      <div class="above-msg">
        <p>that's here</p>
      </div>
    </div>
    <div class="main-stream">.com</div>
      <div class="below-msg">
        <p>what to put here</p>
      </div>
    </div>
  </div>
</div>