<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Thomas Stephan</title>
</head>
<body>
  <div class="main">
    <h6>hello@thomasstephn.com</h6>
  </div>
</body>
</html>
