<div class="container_post">
  <div class="title_post">
    <h4><%= @post.title %></h4>
  <a href="/blog/1">Blog</a>
  </div>
  <div class="content_post">
    <%= markdown(@post.content) %>
  </div>
</div>