<div id="user">
  <form action="/user" method="post">
    <input type="text" name="name" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <div class="launch">
      <input type="submit" value="Go">
    </div>
  </form>
    
</div>